.sale{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(./ChatGPT\ Image\ 30\ апр.\ 2025\ г.\,\ 22_26_30.png);
    background-size:contain;
    padding: 20px;
    border-radius: 20px;
}

a{text-decoration: none;}
ul, ol{list-style: none;}
.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.nav-logo{
    width: 40px;
    height: 37px;
    background-size: contain;
    transition: 0.2s linear;
}
.nav-logo:hover{transform: rotateZ(-40deg) scale(1.05);}
.nav-logo:active{transform: rotateZ(0) scale(1.02);}
.nav-list{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-btn{
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.2s linear;
    cursor: pointer;
}
.nav-btn:hover{background-color: #6C5FBC;color: white;}
.nav-btn:active{box-shadow: 0 0 20px #6C5FBC;transition: 0.05s linear;}
.nav-list-item{
    color: black;
    transition: 0.2s linear;
}
.nav-list-item:hover{color: #9500ff;}
.nav-list-item:active{text-decoration: underline 3px #9500ff;}
.nav-border-line{
    background-color: silver;
    width: 80%;
    border-radius: 5px;
    margin: 20px 0;
    margin: 0 auto;
    margin-top: 20px;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

.sale-left h1{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 75px;
}
form{
    display: flex;
    position: relative;
    align-items: center;
}
form input{
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 300px;
}
form button{
    padding: 15px;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    margin-left: -90px;
    background-color: #6C5FBC;
}
h1{
    text-align: center;
    margin-top: 50px;
}
h1 span{
    color: #6C5FBC;
}





.cards{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.card{
    box-shadow:  20px 20px 20px 20px grey;
    padding: 10px;
    background-color: white;
    width: 348px;
    border-radius: 20px;
    margin-top: 50px;
}
.card img{
    display: flex;
    margin: 0 auto;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.img-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.text-user p{
    margin-top: -25px;
}
.text-user h6{
    color: grey;
}
.card h3{
    margin-left: 20px;
}



.navigate-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    margin-top: 150px;
}
.top-text{
    position: absolute;
    top: 20px;
    right: -50px;
}
.text1{
    position: relative;
    width: 270px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.plus{
    display: flex;
    padding: 2px;
    text-align: center;
    background-color: #6C5FBC;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #323142;
    cursor: pointer;
}
.boxs{
    width: 80%;
    margin: 0 auto;
}
















footer{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.footer-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-value{
    padding: 50px 0;
    width: 85%;
}
.footer-list{
    display: flex;
    align-items: center;
    gap: 50px;/* justify-content: space-evenly; */
}
.footer-icons{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-icon{
    transition: 0.2s linear;
}
.food {
    animation-name: food;
    animation-duration: 10s;
    animation-timing-function: linear;
        width: 200px;
    margin-bottom: -200px;
    animation-iteration-count: infinite;
}

@keyframes food {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}